wazuh/certs/dashboard_http/cert.pem
wazuh/certs/dashboard_http/key.pem
wazuh/certs/indexer_cluster/admin-key-temp.pem
wazuh/certs/indexer_cluster/admin-key.pem
wazuh/certs/indexer_cluster/admin.csr
wazuh/certs/indexer_cluster/admin.pem
wazuh/certs/indexer_cluster/dashboard-key-temp.pem
wazuh/certs/indexer_cluster/dashboard-key.pem
wazuh/certs/indexer_cluster/dashboard.csr
wazuh/certs/indexer_cluster/dashboard.pem
wazuh/certs/indexer_cluster/filebeat-key-temp.pem
wazuh/certs/indexer_cluster/filebeat-key.pem
wazuh/certs/indexer_cluster/filebeat.csr
wazuh/certs/indexer_cluster/filebeat.pem
wazuh/certs/indexer_cluster/node-key-temp.pem
wazuh/certs/indexer_cluster/node-key.pem
wazuh/certs/indexer_cluster/node.csr
wazuh/certs/indexer_cluster/node.pem
wazuh/certs/indexer_cluster/root-ca-key.pem
wazuh/certs/indexer_cluster/root-ca.pem
wazuh/certs/indexer_cluster/root-ca.srl
